/* shared styles */
body{
    font-family: 'Lato', sans-serif;
}
/* header styles */
.front-page-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}
.front-page-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.front-page-texts{
    width: 700px;
}
.btn{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    margin-top: 0px;
}
.btn:hover{
    color: palevioletred;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    margin: 0px;
    padding: 180px 240px 0px;
}
.front-page{
    display: flex;
    justify-content: space-between;
}
.front-page-flower{
    width: 635px;
    height: 800px;
}
/* main section styles */
